@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-form > input#submit {
  background: #c52d2f none repeat scroll 0 0;
  color: #fff;
   text-transform: uppercase;
}
.register-form > input#submit {
  background: #c52d2f none repeat scroll 0 0;
  color: #fff;
  text-transform: uppercase;
}
.login-page {
    margin: auto auto 190px;
    padding: 13% 0 0;
    width: 360px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #C52D2F;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #A82629;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #C52D2F;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.about_us {
    margin: auto auto 190px;
    padding: 13% 0 0;
    width: 450px;
}
/*.container1 {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container1:before, .container1:after {
  content: "";
  display: block;
  clear: both;
}
.container1 .info {
  margin: 50px auto;
  text-align: center;
}
.container1 .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container1 .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container1 .info span a {
  color: #000000;
  text-decoration: none;
}
.container1 .info span .fa {
  color: #EF3B3A;
}*/
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.single_contact {
  border: 4px solid #ddd;
  box-shadow: 2px 5px 7px green;
  margin-bottom: 20px;
  text-align: center;
}